body {
    font-family: Cormorant, sans-serif;
}

h1 {
    display: inline-block;
    font-weight: 300;
    margin: 0 32 0 0;
}

.navbar {
    margin: 32px;
    text-align: center;

}

.link {
    display: inline-block;
}

.link li {
    display: inline-block;
}

.link a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 0 8px;
}

a.current{
    border-bottom: 1px solid black;
}

.card {
    width: 49.89%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.card img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

img:hover{
    opacity: 0.9;
}

.card h2{
    display: inline-block;
    font-weight: 300;
    margin: 8px 0 16px 0;
}

.collector{
    padding: 16px;
}
.Collective{
    width: 40%;
    min-width: 600px;
    margin: 100px 0 100px 200px;
}

.Collective h3 {
    font-size: 40px;
    font-weight: 300;
}

.contact {
    margin-top: 100px;
}

.contact p{
    margin: 0;
    font-size: 20px;
}

.cta{
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 8px;
    margin-top: 0;
}

